{% extends 'adocao/base.html' %}

{% load static %}

<!-- Deixa o bloco vazio -->
{% block header %}

{% endblock %}

<!-- Bloco Principal -->
{% block conteudo %}

<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">

            <h3 class="border-bottom">
                Lista de viagens cadastrados

                <a href="{% url 'cadastrar-viajem' %}" class="float-right btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Novo Viagem
                </a>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-4">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Solicitante</th>
                        <th>Passageiros</th>
                        <th>Finalidade</th>
                        <th>Data Partida</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>

                    {% for viajem in object_list %}
                    <tr>
                        <td>{{ viajem.solicitante }}</td>
                        <td>{{ viajem.nomePassageiros }}</td>
                        <td>{{ viajem.finalidade }}</td>
                        <td>{{ viajem.dataPartida }}</td>
                        <td>
                            <a href="{% url 'alterar-viajem' viajem.pk %}" class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>

                            <a href="{% url 'delete-viajem' viajem.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum estado cadastrado</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}