{% extends 'adocao/base.html' %}

{% load static %}

<!-- Deixa o bloco vazio -->
{% block header %}

{% endblock %}

<!-- Bloco Principal -->
{% block conteudo %}

<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">

            <h3 class="border-bottom">
                Lista de passagens cadastradas

                <a href="{% url 'cadastrar-passagem' %}" class="float-right btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Novo Passagem
                </a>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-4">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Companhia Area</th>
                        <th>Numero Voo</th>
                        <th>Hora Partida</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>

                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.companhiaAereaPartida }}</td>
                        <td>{{ obj.numVooPartida }}</td>
                        <td>{{ obj.horaPartida }}</td>
                        <td>
                            <a href="{% url 'alterar-passagem' obj.pk %}" class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>

                            <a href="{% url 'delete-passagem' obj.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum tipo cadastrado</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}