{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Define o formato do site : inteiro ou centralizado -->
    <div class="container shadow-sm mt-5">

        <div class="row" style="background-color: #F7F7F7">

            <div class="col-lg-8 p-5 mt-5 ml-5">
                <h1>Matheus</h1>
                <h1> <strong>Ramos Cardoso</strong> </h1>
            </div>
            <!-- Serve para criar uma coluna e linha  -->
            <div class="text-right col-lg p-5 mt-5">
                <h6 class="text-right"><a href=""> Rua Vivaldo Ramos </a><i class="fas fa-home roxo "></i> </h6>
                <h6 class="text-right"><a href="">+55 (44) 99148-6780 </a><i class="fa fa-phone  roxo"></i></h6>
                <h6 class="text-right"><a href="https://www.gmail.com" target="_blank">ramosmatheusc </a><i
                        class="fas fa-envelope  roxo"></i> </h6>
                <h6 class="text-right"><a href="https://www.linkedin.com/in/ramosmatheusc/" target="_blank">Perfil
                        Linkdin</a> <i class="fab fa-linkedin  roxo"> </i></h6>
                <h6 class="text-right"><a href="https://twitter.com/RamosMatheusc" target="_blank">Twitter/</a><a
                        href="https://github.com/ramosmatheus" target="_blank">Git/</a><a
                        href="https://www.facebook.com/matheusramoscardoso" target="_blank">Facebook</a> <i
                        class="fa fa-globe roxo " aria-hidden="true"> </i></h6>
            </div>
        </div>



        <div class="pt-5 alinhamento">
            <div class="row pl-5">
                <div class="col-lg-1 text-right ">
                    <div id="icone" class="rounded-circle  text-center">
                        <i class="fas fa-align-justify "></i>
                    </div>
                </div>
                <div class="col-lg ">
                    <h3> Objetivo</h3>
                    <p>Quando eu descobrir o objetivo eu te conto.</p>
                </div>
            </div>


            <div class="row pl-5">
                <div class="col-lg-1 text-right">
                    <div id="icone" class="rounded-circle p- text-center">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>

                    </div>

                </div>

                <div class="col-lg">
                    <h3> Educação</h3>
                    <p id="negrito"> <span>Tecnologia em Análise e Desenvolvimento de Sistemas </span>| Instituto
                        Federal do Paraná — Paranavaí
                    </p>
                    <p>2017 a 2019</p>
                    <p id="texto">Curso visa à formação de profissionais aptos a criar, desenvolver e implantar
                        inovações tecnológicas, com trabalhos teóricos e práticos com desenvolvimento de software para
                        empresas sem fins lucrativos.
                    </p>

                    <p id="negrito"> <span> Hardware –
                            Montagem, Manutenção e Configuração de Computadores </span>| CENAIC - Paranavaí</p>
                    <p>20/05/2012 a 20/05/2013</p>

                    <p id="texto"> Manutenção de computadores, instalação de sistemas operacionais, antivírus e backup,
                        montagem de rede de computadores.</p>

                    <p id="negrito"> <span>WEB Designer </span>| CENAIC — Paranavaí </p>
                    <p>20/05/2012 a 20/05/2013</p>
                    <p id="texto">Desenvolvimento de sites html5 e css3. </p>

                </div>
            </div>
        </div>
        <div class="alinhamento">
            <div class="row pl-5 ">
                <div class="col-lg-1 text-right">
                    <div id="icone" class="rounded-circle p- text-center">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                </div>


                <div class="col-lg">
                    <h3> Experiência</h3>
                    <p> <span>AUX ADMINISTRATIVO </span>| SHOPDIAS - LTDE </p>
                    <p>[20/03/2014 A 27/08/2016]</p>
                    <p id="texto">Trabalhava com a administração do site de e-commerce.</p>
                    <p id="negrito"><span>ESTÁGIO </span>| INSTITUTO FEDERAL DO PARANÁ - PARANAVAÍ</p>
                    <p>[23/05/2017 até 09/04/2019]</p>
                    <p id="texto">Hardware e manutenção de computadores.</p>

                </div>
            </div>
        </div>
        <div class="alinhamento">
            <div class="row pl-5">
                <div id="divicone" class="col-lg-1 text-right">
                    <div id="icone" class="rounded-circle p- text-center">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-lg">
                    <h3> Habilidades</h3>


                    <div class="row">
                        <div class="col">
                            <li>Não tenho nenhuma.</li>
                            <li>Não tenho nenhuma.</li>
                        </div>

                        <div class="col">
                            <li>Sei fazer miojo.</li>
                            <li>Sei dormir bastante.</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="alinhamento">
            <div class="row pl-5">
                <div class="col-lg-1 text-right">
                    <div id="icone" class="rounded-circle p- text-center">
                        <i class="fas fa-ellipsis-h "></i>
                    </div>
                </div>

                <div class="col-lg">
                    <h3>Atividades</h3>
                    <p>Desenvolvendo meu TCC.</p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>